//
//  Development.xcconfig
//  Bin Brain
//
//  Created by Stephen Feather on 4/13/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
apiKey = bb_probe_VuP0_sD1TwVHfSpKw9zG6YI-0KC_kiZ8
serverURL = http://10.1.1.205:8000

